CSS
*{

margin:0;

padding:0;

box-sizing:border-box;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

border:1px solid black;

}

.menu{

display:flex;

gap:20px;

}

.menu a{

text-decoration:none;

color:black;

}

.hamburger{

display:none;

font-size:30px;

cursor:pointer;

}

@media(max-width:768px){

.menu{

display:none;

}

.hamburger{

display:block;

}

}